<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="container-fluid">
  <div class="banner">
    <div class="row banner__container">
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-4"></div>
          <div class="col-xs-4">
            <div class="banner__logo">
              <img src="assets/logo.png"/>
            </div>
            <div class="banner__site-name">
              无名尚品 wmw.com
            </div>
          </div>
          <div class="col-xs-4"></div>
        </div>

      </div>

      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-4"></div>
          <div class="col-xs-4">
            <div class="banner__register">
              <a href="#">登录</a>&nbsp;/&nbsp;<a href="#">注册</a>
            </div>
          </div>
          <div class="col-xs-4"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="middle-split">
    <img src="assets/homepage-split.png"/>
  </div>


  <div class="main-context">
    <div class="col-xs-6 main-context__left">
      <div class="main-context__image-left-container">
        <div class="row">
          <div class="col-xs-4"></div>
          <div class="col-xs-4">
            <div class="main-context__image-left">
              <img src="assets/homepage-left-word.png"/>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="main-context__button main-context__button--left">
              <a class="btn btn-default" href="#">浏览前知</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-6 main-context__right">
      <div class="main-context__image-right-container">
        <div class="row">
          <div class="col-xs-4">
            <div class="main-context__button main-context__button--right">
              <a class="btn btn-default" href="#">登录/注册</a>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="main-context__image-right">
              <img src="assets/homepage-right-word.png"/>
            </div>
          </div>
          <div class="col-xs-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>