<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-image: url('../assets/tips-background.png'); background-size:cover;">
<div class="container-fluid">
  <div class="banner">
    <div class="row banner__container">
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-4"></div>
          <div class="col-xs-4">
            <div class="banner__logo">
              <img src="assets/write-logo.png"/>
            </div>
            <div class="banner__site-name">
              无名尚品 wmw.com
            </div>
          </div>
          <div class="col-xs-4"></div>
        </div>
      </div>
      <div class="col-xs-6"></div>
    </div>
  </div>

  <div class="tips-container">
    <h2 class="tips-font">
      您好&nbsp;&nbsp;无名尚品网
      <br/>
      是一个品评书画的平台
      <br/>
      如果不是您的喜好
      <br/>
      抱歉&nbsp;&nbsp;浪费您的宝贵时间了
    </h2>
  </div>

  <div class="row footer-logo">
    <div class="col-xs-4">a</div>
    <div class="col-xs-4"></div>
    <div class="col-xs-3 footer-logo__image">
      <img src="assets/write-logo.png"/>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>
</body>
</html>